@import "../../styles/main";

.v-navigation-drawer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.v-list__tile__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarLink a {
  text-decoration: none;
}

.barIcon__circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 2px $success;
  border-radius: 50%;
  width: 3.3rem;
  height: 3.3rem;
  margin-right: 2rem;

  &-icon {
    width: 3rem;
    height: 2.2rem;
    overflow: hidden;
    fill: $accent;
  }
}

.sidebarFooter {
  color: #cccccc;
  font-size: .7rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1rem;

  & a {
    color: $accent;
    text-decoration: none;
  }
}

.sidebarFooter2 {
  font-size: .5rem;
}
