//MAIN PAGE COLORS VARIABLES
$black: #000;
$white: #fff;

$main-grey: #2D3E4E;
$main-green: #006C00;
$link-blue: #2760D7;

$primary: #2D3E4E;
$success: #15C4A9;
$info: #FDC300;
$accent: #A88BDF;
$error: #F4655D;

