@import "../../styles/main";

.home {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__itemsCard {
    border-radius: .5rem;
    min-height: 30rem;
    width: 32.5%;
    margin-bottom: 1.5rem;
  }

  &__itemsTableCard {
    display: flex;
    border-radius: .5rem;
    min-height: 30rem;
    width: 100%;
    margin-bottom: 1.5rem;
    justify-content: center;
    align-items: center;
  }
}
